﻿body {
    background-color: #242038;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #725AC1;
}

.main-div {
    background-color: #F6F4F3;
    height: 420px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid #725AC1;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.botao-selecionar {
    color: #fff;
    background-color: #8D86C9;
    border: 0;
    border-radius: 10px;
    padding: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #725AC1;
}

#lblDiasSelecionados {
    margin-top: 20px;
} 


